/* 헤더 배경화면 */
.jumbotron {
  background-image: url("https://picsum.photos/700/300/?random");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.jumbotron a {
  text-decoration: none;
}

.jumbotron h2 {
  font-size : 3em;
  font-family: 'Megrim', cursive;
}

/* 네비게이션 버튼 */
.jumbotron .doyou-nav {
  position: relative;
  top: 2em;
}
