@import url('https://fonts.googleapis.com/css?family=Sunflower:300');

* {
  font-size: 20px;
}

/* 헤더 배경화면 */
.header {
  width: 100%;
  min-height: 300px;
  background-image: url('https://picsum.photos/500/300/?84');
  background-repeat: no-repeat;
  background-size: cover;
}

.header .btn-group {
  position: fixed;
  top: 0;
  right: 0;
}

.header a {
  position: absolute;
  top: 4px;
  left: 10px;
}

.header a h2 {
  font-size: 3rem;
  -webkit-animation: bounce;
  -o-animation: bounce;
  animation: bounce;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.header a:hover{
  text-decoration: none;
}

/* 모바일 환경 */
@media screen and (max-width: 767px) {
  
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
