/* 헤더 배경화면 */
.jumbotron {
  background-image: url("https://picsum.photos/700/300/?random");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.jumbotron a {
  text-decoration: none;
}

.jumbotron h2 {
  font : italic 3em fantasy;
  animation-name: font-bluffer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* 제목 반짝이게 하기 */
@keyframes font-bluffer {
  0% { color: darkorange; }
  25% { color: aqua; }
  50% { color: burlywood; }
  75% { color: cornflowerblue; }
  100% { color: springgreen; }
}

/* 네비게이션 버튼 */
.jumbotron .doyou-nav {
  position: relative;
  top: 2em;
}
