<div class="container">
  <div class="box">
    <div class="box_head">
      box Head1
    </div>
    <div class="box_body">
      box body
    </div>
  </div>
  <div class="box">
    <div class="box_head">
      box Head1
    </div>
    <div class="box_body">
      box body
    </div>
  </div>
  <div class="box">
    <div class="box_head">
      box Head1
    </div>
    <div class="box_body">
      box body
    </div>
  </div>
  <div class="box">
    <div class="box_head">
      box Head1
    </div>
    <div class="box_body">
      box body
    </div>
  </div>


</div>
