<div>
  <div class="box">
    <div class="box_head">
      <span>공지사항</span>
    </div>
    <div class="box_body">
      <table class="table table-sm table-hover table-striped text-center">
        <thead>
          <tr>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성일</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>처음</td>
            <td>안녕하안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요세요</td>
            <td>호미</td>
            <td>2018-06-12</td>
          </tr>
          <tr>
            <td>처음</td>
            <td>안녕하안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요세요</td>
            <td>호미</td>
            <td>2018-06-12</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box">
    <div class="box_head">
      <span>자유게시판</span>
    </div>
    <div class="box_body">
      <table class="table table-sm table-hover table-striped text-center">
        <thead>
          <tr>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성일</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>처음</td>
            <td>안녕하세요</td>
            <td>호미</td>
            <td>2018-06-12</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box">
    <div class="box_head">
      <span>질문게시판</span>
    </div>
    <div class="box_body">
      <table class="table table-sm table-hover table-striped text-center">
        <thead>
          <tr>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성일</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>처음</td>
            <td>안녕하세요</td>
            <td>호미</td>
            <td>2018-06-12</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
