.doyou-album.container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.doyou-album .row .card {
  margin-bottom: 10px;
}

.doyou-album .row .card .card-body {
  background-color: lightgoldenrodyellow;
}

p {
  font-family: 'Nanum Pen Script', cursive;
}
