<section class="section">
  <div class="container-fluid p-4">
    <div class="container">
      <div class="text-center">
        <h2>
          방명록
        </h2>
      </div>
      <div class="card-columns">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Card Title
            </h4>
            <h6 class="card-subtitle text-muted">
              Card subtitle
            </h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card-link">Card Link</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Card Title
            </h4>
            <h6 class="card-subtitle text-muted">
              Card subtitle
            </h6>heade
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card-link">Card Link</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Card Title
            </h4>
            <h6 class="card-subtitle text-muted">
              Card subtitle
            </h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card-link">Card Link</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Card Title
            </h4>
            <h6 class="card-subtitle text-muted">
              Card subtitle
            </h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card-link">Card Link</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Card Title
            </h4>
            <h6 class="card-subtitle text-muted">
              Card subtitle
            </h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card-link">Card Link</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Card Title
            </h4>
            <h6 class="card-subtitle text-muted">
              Card subtitle
            </h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card-link">Card Link</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Card Title
            </h4>
            <h6 class="card-subtitle text-muted">
              Card subtitle
            </h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card-link">Card Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
