<nav class="navbar navbar-expand-md navbar-light justify-content-end">
  <button class="navbar-toggler" type="button" (click)="toggleNav()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShow }">
    <ul class="nav navbar-nav mr-auto text-center">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="Angular-Bootstrap/main">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="Angular-Bootstrap/album">album</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="Angular-Bootstrap/board">board</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="Angular-Bootstrap/about">About Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 justify-content-center">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
