nav .collapse ul.nav li {
  margin: 2px;
  font-family: 'Nanum Pen Script', cursive;
  background-color: cornsilk;
  border: 1px solid #CDEFDF;
  border-radius: 5px;
}

nav .collapse ul.nav li.active {
  background-color: #6FC5EE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

nav .collapse ul.nav li:hover {
  font-weight: bold;
  background-color: #f7e1b5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

nav.navbar {
  position: relative;
  bottom: -40px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(102,100,250, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  background-color: lightcyan;
  border-color: rgb(102,100,250);
}

@media screen and (min-width: 768px) {
  div.collapse {
    position: relative;
    bottom: -190px;
  }

}
