
<div class="container container-table">
  <h2 class="align-center">
    Table Template
  </h2>
  <h3 class="align-center">
    Click blue "Gear" icon in the top right corner to hide/show search and info, change the the table background and other parameters.  In browser click on the table head to sort the table, use search to filter the table.
  </h3>
  <div class="table-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <table class="table" cellspacing="0">
        <thead>
          <tr>
            <th>
              NAME
            </th>
            <th>
              AGE
            </th>
            <th>
              DATE
            </th>
            <th>
            SALARY
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jeanna Schmal</td>
            <td>44</td>
            <td>2016-10-17</td>
            <td>$317.000</td>
          </tr>
          <tr>
            <td>Caren Rials</td>
            <td>35</td>
            <td>2013-04-12</td>
            <td>$445.500</td>
          </tr>
          <tr>
            <td>Leon Rogol</td>
            <td>66</td>
            <td>2016-05-22</td>
            <td>$152.558</td>
          </tr>
          <tr>
            <td>Shala Barrera</td>
            <td>70</td>
            <td>2016-05-15</td>
            <td>$459.146</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="row align-items-end">
        <div class="col-md-6">
          <div>
            <label>Search:</label>
            <input class="form-control input-sm">
          </div>
        </div>
        <div class="col-md-6 justify-content-end d-flex">
          <div class="btn-group">
            <a class="btn btn-primary">List</a>
            <a class="btn btn-success">Write</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
